<!DOCTYPE html>
<html lang="en">
{% include 'includes/head.html' with title="YSK" %}

<body>
<div>
    {% include 'includes/navbar.html' %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1>Yasin Samet Karaca</h1>
                <p>Yasin Samet Karaca</p>
            </div>
        </div>
        <p>
            lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus accusantium ad adipisci alias amet
        </p>
        <div class="card" style="width: 18rem;">
            <img src="https://picsum.photos/200/150" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    </div>
</div>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
</body>
</html>