{% load template_filters %}

<!doctype html>
<html lang="en">
<!-- Required meta tags -->
{% include 'includes/head.html' %}
<!-- Required meta tags -->
<body>

<!--================Header Menu Area =================-->
{% include 'includes/navbar.html' %}
<!--================Header Menu Area =================-->


<!--================Home Banner Area =================-->
{% block banner_area %}

{% endblock %}
<!--================End Home Banner Area =================-->


{% block content %}

{% endblock %}


<!--================Footer Area =================-->
{% include 'includes/footer.html' %}
<!--================End Footer Area =================-->


{% block extra_scripts %}

{% endblock %}

</body>
</html>